.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    padding: 9px;
}
.deleteForm {
    display: inline;
}
/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}
#counter a {
    text-decoration: none;
    color: inherit;
}
#counter span {
    font-size: 1.2em;
    margin: 5px 9px;
}
.fas {
    font-size: 1.2em;
}

.fa-thumbs-up:hover {
    
    transform: scale(1.7);
    
}
.fa-thumbs-up {
   color: #3b5998;
   transition: all 0.2s ease-in;
}
.fa-selected {
    transform: scale(1.7);
}


.fa-thumbs-down {
   color: #cd2029; 
   transition: all 0.2s ease-in;
}
.fa-thumbs-down:hover {
    
    transform: scale(1.7);
}