.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    padding: 9px;
}
.deleteForm {
    display: inline;
}
/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}
#counter a {
    text-decoration: none;
    color: inherit;
}
#counter span {
    font-size: 1.2em;
    margin: 5px 9px;
}
.fas {
    color: gray;
    font-size: 1.2em;
}



.fa-thumbs-up-selected {
    /*color: #3b5998;*/
    color: blue;
    
}
.fa-thumbs-down-selected {
    /*color: #cd2029; */
    color: red;
}

#counter .well {
    display: inline-block;
    box-sizing: border-box;
    padding: 2px 5px;
    margin: auto 5px;
}